served-model-name: {{ model.name }}
model: /model/{{ model.name }}
host: 0.0.0.0
port: 8000
gpu-memory-utilization: {{ serve.gpu_memory_utilization }}
max-model-len: {{ serve.max_model_len }}
data-parallel-size: {{ attention.dp_size }}
